.site-nav, .site-header, .site-footer {
    width: auto;
}

.description {
    font-size: 10px;
    padding-inline:1rem;
    align-content: center;
}

.external-links h3 {
    margin-block-start: 1em;
    padding-inline: 1rem;
}

.footer-disclaimer {
    margin-top: 40px;
    font-size: 11px;
}

.footer-disclaimer h3 {
    color: red;
}

.footer-disclaimer .apache-link {
    text-align: right;
}
