{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
<div class="footer-disclaimer">
          <div>
            <h3>Important</h3>
            <p>
                    The domain and the fineract-academy are not affiliated with, endorsed by, or otherwise associated with the Apache® Software Foundation (ASF) or any of its projects! 
            </p>
            <p>
                    Apache® Software Foundation is a vendor-neutral organization, and an important part of the brand is that ASF projects are governed independently!
            </p>
            <p>
            Apache Fineract, Fineract, Apache, the Apache feather, and the Apache Fineract project logo are either registered trademarks or trademarks of the Apache Software Foundation!
            <p/>
            
          </div>
          <div class="apache-link">
            <p>
              <a target="_blank" rel="noopener noreferrer" href="https://apache.org">
                <b>Apache® Software Foundation</b>
              </a>
            </p>
            <a target="_blank" rel="noopener noreferrer" href="https://fineract.apache.org">
              <img style="width:100px" alt="powered by fineract" src="https://cwiki.apache.org/confluence/download/attachments/235836201/fineract_square%20%284%29.png?version=1&modificationDate=1696845679000&api=v2"/>
            </a>          
          </div>
</div>
