<h2>Useful links of Apache Fineract®</h2>
          {% if site.show_downloads %}
            <a target="_blank" rel="noreferrer" href="https://www.apache.org/dyn/closer.cgi?path=/fineract/1.8.4/apache-fineract-1.8.4-binary.tar.gz" class="button">
              <small>Download <br/>
              Apache Fineract® 1.8.4 </small>.tar.gz file
            </a>
          {% endif %}
          <p>          
            <a target="_blank" ref="noreferrer" href="https://fineract.apache.org">
              <b>Official webpage</b>
            </a>
          </p>
          <p>
            <a target="_blank" ref="noreferrer" href="https://lists.apache.org/list.html?dev@fineract.apache.org">
              <b>Official mail list</b>
            </a>
          </p>
          <p>
            <a target="_blank" ref="noreferrer" href="https://issues.apache.org/jira/projects/FINERACT">
              <b>Official JIRA</b>
            </a>
          </p>
          <p>
            <a target="_blank" ref="noreferrer" href="https://cwiki.apache.org/confluence/display/FINERACT/Fineract+Home">
              <b>Official Confluence</b>
            </a>
          </p>
          <p>
            <h3 class="important">Important</h3>
            <b>The domain and the fineract-academy are not affiliated with, endorsed by, or otherwise associated with the Apache® Software Foundation (ASF) or any of its projects! 
            <br/><br/>Apache® Software Foundation is a vendor-neutral organization, and an important part of the brand is that ASF projects are governed independently!</b>
            <br/><br/>
            <b>Apache Fineract, Fineract, Apache, the Apache feather, and the Apache Fineract project logo are either registered trademarks or trademarks of the Apache Software Foundation!</b>
            <br/>
            <a target="_blank" ref="noreferrer" href="https://apache.org">
              <b>Apache® Software Foundation</b>
            </a>
          </p>
          <p>
            <a target="_blank" href="https://fineract.apache.org">
              <img style="width:150px" src="https://cwiki.apache.org/confluence/download/attachments/235836201/fineract_square%20%284%29.png?version=1&modificationDate=1696845679000&api=v2"/>
            </a>          
          </p>