<div style="margin:0 40px;font-size:11px">
          <h4>Useful links of Apache Fineract®</h4>
          <div>          
            <a target="_blank" ref="noreferrer" href="https://fineract.apache.org">
              <b>Official webpage</b>
            </a>
          </div>
          <div>
            <a target="_blank" ref="noreferrer" href="https://lists.apache.org/list.html?dev@fineract.apache.org">
              <b>Official mail list</b>
            </a>
          </div>
          <div>
            <a target="_blank" ref="noreferrer" href="https://issues.apache.org/jira/projects/FINERACT">
              <b>Official JIRA</b>
            </a>
          </div>
          <div>
            <a target="_blank" ref="noreferrer" href="https://cwiki.apache.org/confluence/display/FINERACT/Fineract+Home">
              <b>Official Confluence</b>
            </a>
          </div>
          <div style="margin-top:40px">
            <h4>Important</h4>
            <p>
                    The domain and the fineract-academy are not affiliated with, endorsed by, or otherwise associated with the Apache® Software Foundation (ASF) or any of its projects! 
            </p>
            <p>
                    Apache® Software Foundation is a vendor-neutral organization, and an important part of the brand is that ASF projects are governed independently!
            </p>
            <p>
            Apache Fineract, Fineract, Apache, the Apache feather, and the Apache Fineract project logo are either registered trademarks or trademarks of the Apache Software Foundation!
            <p/>
            <p>
              <a target="_blank" ref="noreferrer" href="https://apache.org">
                <b>Apache® Software Foundation</b>
              </a>
            </p>
          </div>
          <div>
            <a target="_blank" href="https://fineract.apache.org">
              <img style="width:100px" src="https://cwiki.apache.org/confluence/download/attachments/235836201/fineract_square%20%284%29.png?version=1&modificationDate=1696845679000&api=v2"/>
            </a>          
          </div>
</div>
